<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ config.site_name }}{% if page.title %} - {{ page.title }} - {% endif %}</title>
		<link rel="shortcut icon" href="{{ "img/favicon.ico"|url }}">
		<link rel="stylesheet" href="{{ "css/theme.css"|url }}">
		{% for path in config.extra_css %}
			<link href="{{ path|url }}" rel="stylesheet">
		{% endfor %}
	</head>
	<body class="mix-{{config.mix}}">
		<div id="random" style="text-align: center; width:50; font-size: 80px; line-height: 1em"></div>
		<ul id="text-hidden">
			{% for text in config.texts %}
				<li> {{ text }} </li>
			{% endfor %}
		</ul>
		<nav id='titleSite'>
			<h1 id="title" data-random="{{config.site_name_random}}">{{ config.site_name }}</h1>
			<h1 id="subtitle">{{ config.site_subtitle }}</h1>

			{% set titles = [] %}
			{% set designers = [] %}
			{% set tags = [] %}

				{% for filter in config.filters %}
				{% for item in nav %}
					{% if item.is_section and item.title == 'Fonts' %}
						{% for fontFolder in item.children %}
							{% if fontFolder.is_section %}
								{% for font in fontFolder.children|list %}
									{% if font.meta.public == True %}
										{% if filter == 'title' %}
											{{ titles.append(font.meta[filter])|default("", True) }}
										{% elif filter == 'designers' %}
											{% for designer in font.meta[filter] if designer not in designers %}
												{{ designers.append(designer)|default("", True) }}
											{% endfor %}
										{% elif (filter == 'tags') and (font.meta[filter]) %}
											{% for tag in font.meta[filter] if tag not in tags %}
												{{ tags.append(tag)|default("", True) }}
											{% endfor %}
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endif %}


						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endfor %}
	
		</nav>

		{% block content %}

		{% endblock %}

		{% include 'about.html' %}

		{% include 'tools.html' %}

	</body>
		{% for path in config.extra_javascript %}
			<script src="{{ path|url }}"></script>
		{% endfor %}
</html>
