<section class="font" data-weight="{{font.meta.weight}}">

  {% for style in font.meta.styles %} {% set i = loop.index - 1%}
<div class="font-face"  data-font-family="{{font.title}}---{{ style }}">
    @font-face {
      font-family: "{{font.title}}---{{ style }}";
      src: url("{{ font.meta.paths[i] }}");
    }
  </div>
	<style class="font-face"  data-font-family="{{font.title}}---{{ style }}">
	</style>
  <div
    class="sample-text"
		id="{{ font.title }}"
    style='font-family: "{{font.title}}---{{ style }}", "substitut";'
  >

	<span class="sample-text-edit" contenteditable="true" spellcheck="false"></span>
	
	<div class="charset">
		A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
		a b c d e f g h i j k l m n o p q r s t u v w x y z
		0 1 2 3 4 5 6 7 8 9
		Œ Ç À Â Ê Ë È É Î Ï Ô Û Ü Ù
		œ ç à â ê ë è é î ï ô û ü ù	
		, . ; : ' ? ! · « » = ( ) - _ / @ €
	</div>

	<div class="sample-text-header" >
		<a href="{{ font.meta.paths[i]}}" target="_blank" >
			<div class="sample-text-header-fontname">{{ font.meta.title }}</div> 
			<div class="sample-text-header-designer">{{ font.meta.designers[0][0] }}</div>
			<div class="sample-text-header-year">2021</div>
		</a>
	</div>
  </div>
  {% endfor %}
</section>
