<section class="foundry">
{% for nav_item in nav %}
{% if nav_item.title == 'mds' %}
	{% for item in nav_item.children %}
		<article class="family" >
			<h1>title : {{ item.title }}</h1>
			{% for author in item.meta.authors %}
				<div class="authors"> {{ author }} </div>
			{% endfor %}
			{% if item.meta.tools %}
				{% for tool in item.meta.tools %}
				<div class="tools"> {{ tool }} </div>
				{% endfor %}
			{% endif %}
			<div class="repository_url">
				{{ item.meta.repository_url }}
			</div>
			{% if item.meta.styles %}
			{% for style in item.meta.styles %}

					{% set inc = loop.index - 1 %}
			<style>
				@font-face {
					font-family: "{{ item.title|replace(' ', '') }}_{{ style }}";
					src: url('{{ item.meta.links[inc] }}');
					font-style: {{ style }};
				}
			</style>
			<div class="sample" contenteditable style="font-family: {{ item.title|replace(' ', '') }}_{{ style }}; font-style: {{ style }}">
					{{ item.meta.sample_text[0] }}
			</div>
				{% endfor %}
			{% endif %}

		</article>
		<hr>
	{% endfor %}
{% endif %}
{% endfor %}
</section>



