@import "reset.css";
/* @import 'fonts.css'; */

@font-face {
  font-family: "substitut";
  src: url("../fonts/substitut.ttf");
}

:root {
  --main-color: black;
  --bg-color: white;
  --nav-color: black;
}

/* global */

body {
  color: var(--main-color);
  background: var(--bg-color);
  font-family: monospace;
  font-size: 12px;
  line-height: 1.1rem;
  overflow-x: hidden;
	padding-bottom: 50vh;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline wavy;
}

h1,
h2 {
  font-weight: bold;
}

h1 span#martine {
	font-size: 1.4em;
}

em {
  font-style: italic;
}

.hidden {
  display: none;
}

/*  nav */

nav {
  padding: .75rem;
  position: fixed;
  left: 0;
  padding-bottom: 0;
}

nav h1,
nav .filters details {
  border-bottom: 1px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex: 1;
}

nav h1 {
  cursor: help;
	position: fixed;
	background: white;
}

nav h1#title {
  border-right: 1px solid;
	position: fixed;
}
nav h1#subtitle {
  border-left: 1px solid;
	position: fixed;
	bottom: 1em;
	right: 1em;
}

nav .filters {
  display: flex;
  width: 75%;
}

nav .filters details {
  flex: 1;
}

nav .filters details summary:hover {
  cursor: s-resize;
  text-decoration: underline;
}

nav .filters details[open] summary {
  cursor: n-resize;
  text-decoration: underline;
}

nav .filters details ul {
  column-count: 2;
}

nav .filters details ul li:hover {
  cursor: pointer;
}

nav .filters details ul li:hover:before {
  content: "▸ ";
}

nav .filters details ul li.selected:before {
  content: "✔ ";
}

nav .filters details ul li.selected:hover:before {
  content: "✕ ";
}

/* font view */

.main-fonts {
  padding-top: 2.5em;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	opacity: 0;

}

.main-fonts.visible {
	transition: opacity .5s;
	opacity: 1;
}

.close-font {
  display: none;
  position: fixed;
  top: .75rem;
  right: .75rem;
  font-size: 3rem;
}

.close-font:hover {
  cursor: pointer;
  opacity: .5;
  transition: opacity .25s;
}

.close-font.visible {
  display: block;
}

.font {
	display: inline;
	text-align: center;
}

.font a {
  text-decoration: none;
}

.font div.font-face {
  display: none;
}

.head-font {
  display: flex;
  width: 100%;
}

.head-font > * {
  padding-left: 0.5em;
  margin-right: 0.5em;
  border-left: 1px solid;
}

.head-font > div {
  flex: 1;
  display: flex;
}

.head-font > div > * {
  width: 50%;
}

.head-font div:nth-of-type(1) {
  columns: 1;
}

.head-font div span {
  display: block;
  font-weight: bold;
}

.head-font div .title {
  font-weight: normal;
}

.sample-text {
  font-size: 5rem;
  line-height: 1.05em;
  display: inline;
}

.sample-text-header {
  font-family: monospace;
	font-size: 10px;
	line-height: 1.5em;
	display: inline-block;
	text-align: start;
}

.sample-text-header:hover {
  font-style: italic;
}


.sample-text-header div {
  margin: .25em 0;
}

.sample-text-header .sample-text-header-fontname {
  font-weight: bold;
}

.sample-text-edit:focus {
  outline: none;
}

.sample-text-edit.backward {
  opacity: .0;
}

.sample-text-edit.backward:hover {
  opacity: .25;
  transition: opacity .25s;
}

.charset {
  display: none;
  background-color: var(--bg-color);
}

.sample-text-edit.forward + .charset {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.5rem;
  line-height: 1.25em;
  padding: 20px 3.5vw;
  z-index: 10;
}

/* tools */

#tester {
  position: fixed;
  display: flex;
  bottom: 0.5rem;
  left: 10px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: auto;
  text-align: right;
  z-index: 15;
  flex-direction: column;
}

#tester input {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
}

#tester > div {
  width: 100px;
}

#tester > div h5 {
  width: 100%;
}

#tester .size {
  padding: 0 0.5rem 0 0;
  transform: rotate(-90deg);
  transform-origin: left top;
}

#tester .colors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25px;
}

#tester .colors .color {
  width: 100%;
}

#tester .colors .color input {
  cursor: pointer;
}

#tester .colors .color:hover:after {
  position: absolute;
  left: 40px;
	margin: 2px 0;
  width: 25vw;
	text-align: left;
}

#tester .colors .color:nth-of-type(1):hover:after {
  content: "Change text color ";
}

#tester .colors .color:nth-of-type(2):hover:after {
  content: "Change background color ";
}

#about {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 20px 3.5vw;
  background-color: var(--bg-color);
  border-top: 1px solid;
  z-index: 10;
  max-height: 75vh;
  overflow-y: auto;
  font-size: 1.5rem;
  line-height: 1.25em;
}

#about .close {
  position: absolute;
  right: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

#about .close:hover {
  cursor: pointer;
  opacity: .5;
  transition: opacity .25s;
}

#about h2 {
  padding: 1em 0;
}

#about h2:nth-of-type(1) {
  padding-top: 0;
}
#about p {
  padding: .25em 0;
  max-width: 1100px;
}

#about ul {
  padding-top: 1em;
  font-size: 1rem;

}

#text-hidden {
	display: none; 
}

.bonbon {
	position: absolute;
	display: none;
}
.bonbon.active {
	display: block;
}

.bonbon a {
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute; 
}

.bonbon a:hover {
  transform: scale(1.25);
}
.bonbon:nth-of-type(4n+1) a {
	background-image: url('/images/bonbon1.svg');
}
.bonbon:nth-of-type(4n+2) a {
	background-image: url('/images/bonbon2.svg')
}
.bonbon:nth-of-type(4n+3) a {
	background-image: url('/images/bonbon3.svg')
}
.bonbon:nth-of-type(4n+4) a {
	background-image: url('/images/bonbon4.svg')
}

@media screen and (max-width: 1000px) {
  nav .filters details ul {
    column-count: 1;
  }

  .head-font > div {
    flex-direction: column;
  }

  .head-font > div > * {
    width: 100%;
  }

  .sample-text {
    hyphens: auto;
    font-size: 4rem;
    line-height: 1em;
  }
}

@media screen and (max-width: 600px) {

  nav h1#subtitle,
  #tester .size {
    display: none;
  }

  nav {
    padding: 0;
  }

  nav h1 {
    width: 100%;
    border-left: 0px solid;
    padding: .2em;
    margin-right: 0;
  }

  .main-fonts {
    width: 90%;
    margin-left: 5%;

  }

  .head-font {
    flex-direction: column;
  }

  .head-font > * {
    border-left: none;
    border-bottom: 1px dotted;
    padding-bottom: .25em;
  }

  .head-font > div {
    flex-direction: row;
  }

  .sample-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .sample-text-header {
    line-height: 1.25em;
  }

  .sample-text-header a div {
    margin: 0;
  }

  #tester {
    padding: 0;
    left: 5px;
    bottom: 5px;
  }

  #about {
    top: 0;
    max-height: 100vh;
    border-top: none;
    padding-top: 40px;
    font-size: 1.2rem;
  }

  #about .close {
    right: 0.25em;
    top: 0.25em;
  }

  #about ul {
    font-size: 0.75rem;
  }
  
}


@media print {

  @page {
    margin: 5.94mm 0mm;
  }

  body,
  #about {
    color: black !important;
    background: transparent !important;
  }

  nav,
  #tester,
  #about .close {
    display: none;
  }

  .main-fonts {
    width: 90%;
    margin-left: 5%;
    padding-top: 0;
  }

  .sample-text {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .sample-text-header {
    line-height: 1em;
  }

  .sample-text-header div {
    margin: 0;
  }

  #about {
    page-break-before: always;
    display: block;
    position: relative;
    border-top: none;
    padding: 0 5%;
    font-size: 1rem;
    margin-right: 5%;
  }

  #about ul {
    font-size: .75rem;
  }

  .main-fonts-bonbon #bonbon_1 {
    display: block;
  }

  .bonbon a {
    width: 10cm;
    height: 10cm;
  }
}
